{% extends 'admin/change_list.html' %}


{% block extrastyle %}
	{{ block.super }}
	<style>
		table.gender td {
			text-align: center;
		}
		table.colour td {
			width: 2rem;
		}
		table tr th {
			opacity: 1;
			transition: all 0.5s ease-in-out;
		}
		.colourbox {
			width: 1em;
			height: 1em;
			border: 1px solid #cccccc;
			margin: 0 1px;
			display: inline-block;
		}
		.colour-chart {
			width:300px;
			height: 300px;
			float: left;
			margin-right: 2em;
			margin-bottom: 2em;
		}
		h3 {
			margin-top: 3em;
		}
		.c3-legend-item {
			display: none;
		}
	</style>
{% endblock extrastyle %}


{% block content %}

	{{ block.super }}

	<h2>Summary</h2>

	<h3>Age</h3>
	<table class="table table-striped table-bordered table-hover table-condensed age">
		<tr>
			<th>Average</th>
			<td class="average"></td>
		</tr>
		<tr>
			<th>Highest</th>
			<td class="max"></td>
		</tr>
		<tr>
			<th>Lowest</th>
			<td class="min"></td>
		</tr>
	</table>

	<h3>Gender</h3>
	<table class="table table-striped table-bordered table-hover table-condensed gender">
		<tr>
			<th></th>
			<th>Prefer not to say</th>
			<th>Men</th>
			<th>Women</th>
			<th>It's complicated</th>
			<th>Everyone</th>
		</tr>
		<tr class="unknown">
			<th>Prefer not to say</th>
			<td class="unknown">1</td>
			<td class="men"></td>
			<td class="women"></td>
			<td class="other"></td>
			<td class="all"></td>
		</tr>
		<tr class="men">
			<th>Men</th>
			<td class="unknown"></td>
			<td class="men">1</td>
			<td class="women"></td>
			<td class="other"></td>
			<td class="all"></td>
		</tr>
		<tr class="women">
			<th>Women</th>
			<td class="unknown"></td>
			<td class="men"></td>
			<td class="women">1</td>
			<td class="other"></td>
			<td class="all"></td>
		</tr>
		<tr class="other">
			<th>It's complicated</th>
			<td class="unknown"></td>
			<td class="men"></td>
			<td class="women"></td>
			<td class="other">1</td>
			<td class="all"></td>
		</tr>
		<tr class="all">
			<th>Everyone</th>
			<td class="unknown"></td>
			<td class="men"></td>
			<td class="women"></td>
			<td class="other"></td>
			<td class="all">1</td>
		</tr>
	</table>

	<h3>Colours</h3>
	<div id="colour-chart" class="colour-chart"></div>
	<table class="table table-striped table-bordered table-hover table-condensed colour">
		<tr>
			<th>1</th>
			<td class="top1"></td>
		</tr>
		<tr>
			<th>2</th>
			<td class="top2"></td>
		</tr>
		<tr>
			<th>3</th>
			<td class="top3"></td>
		</tr>
	</table>

	<script>
		var survey = Survey();
		survey.init({{ ages }}, {{ genders|safe }}, {{ colours|safe }});
	</script>

{% endblock content %}
