{% load staticfiles sexy %}<!DOCTYPE html>
<html>
	<head>
		<title>Hot Mess</title>
		{% block css %}
			<link rel="stylesheet" href="{% static 'contrib/css/bootstrap.min.css' %}" />
			<link rel="stylesheet" href="{% static 'contrib/css/open-iconic-bootstrap.min.css' %}">
			<style>
				body {
					background: url("{% random_background %}") no-repeat center center fixed;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
				.page {
					background-color: rgba(255, 255, 255, 0.8);
					border-radius: 2rem;
					padding: 1rem;
					margin-top: 1rem;
				}
			</style>
		{% endblock css %}
		{% block js_header %}
			<script src="{% static 'contrib/js/jquery-3.2.1.min.js' %}"></script>
			<script src="{% static 'contrib/js/popper.js' %}"></script>
			<script src="{% static 'contrib/js/bootstrap.min.js' %}"></script>
		{% endblock js_header %}
	</head>
	<body>
		<div class="container page">
			{% block content %}{% endblock content %}
		</div>
		{% block js_footer %}{% endblock js_footer %}
	</body>
</html>
