{% extends 'hotmess/base.html' %}


{% block content %}

	<div class="container">

		<div class="row">
			<div class="col-sm">
				<h1 class="display-1 text-center">Wanna Do the Thing?</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm text-center">
				<a href="{% url 'surveys:stage-1' %}" class="btn btn-primary" style="margin-top: 2rem;">Do the thing</a>
			</div>
		</div>

	</div>

{% endblock content %}
