{% extends 'hotmess/base.html' %}


{% block css %}
	{{ block.super }}
	<style>
		section.form-phase {
			margin: 3rem 0;
		}
		section.has-error fieldset.hidden,
		fieldset {
			overflow: hidden;
			transition: all ease-in-out 0.5s;
			opacity: 1;
			max-height: 999px;
		}
		fieldset.hidden {
			max-height: 0;
			opacity: 0;
		}
		h2 {
		}
		h2 .oi {
			font-size: smaller;
		}
		input.btn {
			cursor: pointer;
		}
	</style>
{% endblock css %}


{% block content %}

	<div class="row">
		<div class="col-sm">
			<h1 class="display-1">Do the Thing</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			{{ form.non_field_errors }}
			<form method="post" class="col-md-12">
				<section class="form-phase">
					<h2>{% block stage_name %}{% endblock stage_name %}</h2>
					<fieldset>
						{% block fields %}{% endblock fields %}
					</fieldset>
				</section>
				{% csrf_token %}
				{% if previous %}<a href="{{ previous }}" class="btn btn-danger">Previous</a>{% endif %}
				<input type="submit" name="s" value="Next" class="btn btn-success" />
			</form>
		</div>
	</div>

{% endblock content %}
