{% extends 'surveys/base.html' %}


{% block fields %}
	<section>
		{{ form.name.label_tag }}
		{{ form.name }}
		{{ form.name.errors }}
	</section>
	<section>
		{{ form.email.label_tag }}
		{{ form.email }}
		{{ form.email.errors }}
	</section>
{% endblock fields %}
